@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    min-height: 100vh;
    background: url('secret.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 800px;
    height: 600px;
    margin-top: -100px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2 {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #480b43;
}

p {
    color: rgba(245, 245, 245, 0.878);
    font-weight: 500;
    text-align: center;
}

